{
  "env": {
    "es2020": true,
    "node": true,
    "browser": true,
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "prettier", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["testing-library"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-console": ["error", { allow: ["warn", "error"] }]
  }
}
